@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  // Font
  --primary-font:"Figtree", sans-serif;
  --primary-font-weight-regular: 400;
  --primary-font-weight-medium: 600;
  --primary-font-weight-bold: 700;
  // Color Variables
  --yellow: hsl(47, 88%, 63%);
  --gray-950: hsl(0, 0%, 7%);
  --gray-500: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --dark-purple:  hsl(292, 42%, 14%);

  font-size: 62.5%;
}

body {
  background-color: var(--yellow);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  > .card {
    width: 30rem;
    height: 40rem;
    background-color: var(--white);
    border-radius: 2rem;
    border: 1px solid black;
    padding: 2.5rem;

    > .blog-image {
      background:url("./assets/images/illustration-article.svg") no-repeat center;
      background-size: cover;
      height: 38%;
      border-radius: 1.5rem;
      margin-bottom: 2.5rem;
    }

    > .content {
      margin-bottom: 2.5rem;

      >.blog-tag {

        a {
          text-decoration: none;
          font-weight: var(--primary-font-weight-bold);
          font-size: 1.2rem;
          color: var(--dark-purple);
          padding: 0.5em 1.25em;
          background-color: var(--yellow);
          border-radius: 0.5rem;
        }

      }

      p {
        font-size: 1.2rem;
        font-weight: var(--primary-font-weight-regular);
        margin: 1.5rem 0;
      }

      h3 {
        font-size: 1.6rem;
        font-weight: var(--primary-font-weight-bold);
        color: var(--yellow);
        cursor: pointer;
      }
    }

    > .author {
      display: flex;

      > .user-avatar {
        background: url("./assets/images/image-avatar.webp") no-repeat center;

      }
    }

  }
}